@{
    ViewBag.Title = "Редагувати профіль";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <font size="4">
    <ul class="nav-list row span6">    
        <li class="list-group-item">@Html.ActionLink("Світлини", "Photos", "PersonalEdit")</li>
        <li class="list-group-item">@Html.ActionLink("Дописи", "Posts", "PersonalEdit")</li>
        <li class="list-group-item">@Html.ActionLink("Персональні дані", "EditPersonalData", "PersonalEdit")</li>
        <li class="list-group-item">@Html.ActionLink("Контакти", "EditContactInfo", "PersonalEdit")</li>
        <li class="list-group-item">@Html.ActionLink("Змінити пароль", "ChangePassword", "PersonalEdit")</li>
    
    </ul>
</font>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />